.Rproj.user
.Rhistory
.RData
.Ruserdata
Figures/*
Code/mcmc_run.RData
*allshrimptickets1980-2019.xlsx
*.RData
*.Rds
*.pdf
*.png
Data/allshrimp.xlsx
Data/Alldata.xlsx
*shrimp_tickets.csv
*Dan_cpp.csv
# MS tmp files
*~$*
*.tmp
*cache*
*supp.docx
*figs.docx
*cover_letter.docx
Data/archive/*
